body {
	max-width: 960px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

ul {
	width: 100px;
	margin: auto;
	list-style: none;
	padding: 0;
}

#ad {
	max-width: 100%;
	margin-top: 100px;
}