doctype html
html(lang="en")
	head
		title Kible projekt 
		link(rel="stylesheet" href="/css/styles.css")
		link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans")
	body
		img#ad(data-id!=cabinId src!=ad)
		script(src="/socket.io/socket.io.js")
		script(src="/js/script.js")