doctype html
html(lang="en")
	head
		title Kible projekt 
		link(rel="stylesheet" href="css/styles.css")
		link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans")
	body
		header
			h1 Welcome to Cabin Advertiser!
			img(src="images/bathroom-advertising.jpg")
			if cabins.length == 0
				h2 There are no active cabins. Come back in a while!
			else
				h2 Avaliable cabins:
				ul
					each cabin in cabins
						a(href='/cabin/' + cabin)
							li= cabin